@model List<Dost.Patiler.Barinak.Models.Database.hayvan_cinsleri>
    <style>
        .table1 {
            color: black;
        }

        h4 {
            color: #47a447;
        }

        .metin {
            color: darkslategray;
        }

        .bas {
            background-color: #85D5DF;
        }
    </style>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <b style="float:left">
                    <p>
                        <h4>HAYVAN HASTALIKLARI</h4>
                    </p>
                </b>

                <a style="float:right; margin-bottom: 15px;" class="btn btn-success"
                    href="/hayvancinsleri/olustur">Oluştur</a>

                <table class="table table-hover">

                    <thead class="table1">
                        <tr class="bas">
                            <th>cins_id</th>
                            <th>Cins Adi</th>
                            <th>Aciklama</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach(var item in Model){
                        <tr class="metin">
                            <td>@item.cins_id</td>
                            <td>@item.adi</td>
                            <td>@item.aciklama</td>
                            <td><a href="/hayvancinsleri/duzenle?id=@item.cins_id" class="btn btn-info">Düzenle</a></td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>

    </div>