@model List<Dost.Patiler.Barinak.Models.Database.hayvan_yiyecek_tipleri>
    @using Microsoft.AspNetCore.Http;
    @{
    int? id = Context.Session.GetInt32("id");
    }
    <style>
        .table1 {
            color: black;
        }

        h4 {
            color: #47a447;
        }

        .metin {
            color: darkslategray;
        }

        .bas {
            background-color: #85D5DF;
        }
    </style>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <b style="float:left">
                    <p>
                        <h4>HAYVAN YIYECEK TIPLERI</h4>
                    </p>
                </b>
                @if(id.HasValue){
                <a style="float:right" class="btn btn-success" href="/hayvanyiyecektipleri/olustur">Oluştur</a>
                }
                <table class="table table-hover">
            
                    <thead class="table1">
                        <tr class="bas">
                            <th>yiyecek_id</th>
                            <th>Aciklama</th>
                            @if(id.HasValue){
                            <th>işlemler</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                        <tr class="metin">
                            <td>@item.yiyecek_id</td>
                            <td>@item.aciklama</td>
                            @if(id.HasValue){
                            <td><a href="/hayvanyiyecektipleri/duzenle?id=@item.yiyecek_id" class="btn btn-info">Düzenle</a></td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>

    </div>